
#bottomwrap {
  display:flex;
  flex-direction: row;
}

#headerwrap {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid;
}

#invoicemsg{
  border-top: 2px solid black;
  text-align: center;
}

#headerwrap::after{
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

#searchwrap {
  width :100%;
  float: left;
}

#buttonwrap button{
  float: right;  
}

#left{
  width: 45%;
  padding: 10px;
  display:inline-block;
}

#login{
  margin : 20px;
  text-align: center;
}

.checkoutform input{
  margin-bottom: 3px;
}

#right{
  width: 45%;
  padding: 10px;
  display:inline-block;
}
#checkout{
  padding: 20px;
}

#checkoutheader{
  width:100%;

}
#Bookcontain{
  padding: 20px;
  width : 75%;
  border-left: 2px solid black;
}

#sidebar{
  width: 25%;
  padding: 20px;
}

#sort{
  float:right;
}

#cart{
  padding: 20px;
}

.Bookcontent .title{
  font-size: 200%;
  font-style: italic;
  font-weight: 900;
}

.CartObj div{
  border: 1px solid;
  margin: 5px 10px 5px 10px;
  padding: 15px;
}

.header input{
  width : 85%
}

.header button[type=submit]{
  width: 13%
}

button {
  background-color: #008CBA;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 12px;
  border: 2px solid #008CBA;
}

button:hover {
  background-color: white;
  color: black; 
}

